.center-block
  margin: 0 auto

.template
  max-height: 380px
  &.photo .thumbnail
    background-color: rgba(161, 169, 161, 0.2)
  img
    max-height: 252px

img.black-white-hover
  filter: grayscale(100%)
  -webkit-filter: grayscale(100%)

img.black-white-hover:hover
  filter: none
  -webkit-filter: none

.pointer
  cursor: pointer