.center-block
  margin: 0 auto

.template
  max-height: 380px
  &.photo .thumbnail
    background-color: rgba(161, 169, 161, 0.2)
  img
    max-height: 252px
  .backing
    height: 94%
    position: absolute
    width: 91%
    top: 0
    background-color: white
    opacity: 0.7
    z-index: 400
    background-image: url('/assets/loading.gif')
    background-repeat: no-repeat
    background-position: 50%
    display: none

img.black-white-hover
  filter: grayscale(100%)
  -webkit-filter: grayscale(100%)

img.black-white-hover:hover
  filter: none
  -webkit-filter: none

.pointer
  cursor: pointer
