.mfp-container.mfp-s-ready.mfp-image-holder, .mfp-close
  cursor: default !important

section#home
  color: rgb(119, 119, 119)
  background-position-y: 0px
  &:before
    background: rgba(225, 225, 225, 0.3)
  .hs-title-size-4, .hs-title-size-1
    color: rgb(17, 17, 17)
    font-family: Dosis, sans-serif
  .caption-content
    text-align: left
  .hs-title-size-4
    line-height: 42px
    opacity: 0.9
  .hs-title-size-1
    font-size: 16px
    letter-spacing: 10px
    line-height: 22.4px
    opacity: 0.6
nav.navbar.navbar-fixed-top
  li>a
    color: rgb(17, 17, 17)
  a.navbar-brand
    color: rgb(17, 17, 17)
